* {
  box-sizing: border-box;
}
html,
body {
  /* max-width: 100%; */
  /* overflow: hidden; */
  margin-right: 2%;
  margin-left: 2%;
  user-select: none;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  place-items: center;
  /* padding: 20px; */
}

#pageBorder {
  background-color: #34495e;
  padding: 1px;
  width: 50rem;
  height: 40rem;
  max-width: 50rem;
  max-width: 40rem;
  margin: auto;
  border-radius: 20px; /* Using fixed value for better control */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional for better visualization */
}
.landingPageMessage {
  font-size: 1.5em;
  font-family: "Indie Flower", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding-bottom: 1rem;
  color: #ebedef;
}

#gameTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#gameTitleNav {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#resetGameSpace {
  background: url("assets-game/reset.png") no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 2rem;
  background: transparent;
}
#resetGame {
  background: url("assets-game/reset.png") no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  font-family: "Pacifico", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ebedef;
  margin: 1rem;
}

#landingPageContainer {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.playerNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.input-container input,
button {
  font-family: "Indie Flower", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Blur, Color */
}
.input-container input {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  width: 20rem;
}

.button {
  font-size: 1.5rem;
  display: inline-block;
  background-color: #212f3d;
  color: #fff;
  text-decoration: none;
  border: none;
  height: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Blur, Color */
  transition: background-color 0.3s ease;
}
#startGame {
  font-size: 2em;
  background-color: #212f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
#startPrompt,
.greeting {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  height: 1.2rem;
  color: #ebedef;
  margin-bottom: 2rem;
  height: 0.5em;
}
#diceLogo {
  background: url("assets-game/dice-logo.png") no-repeat center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  transform: scale(1.5);
  z-index: 1;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* ============================ Game Board ============================== */
#gamePageRollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
}
#gameBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 0.5rem;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 400px;
  height: 400px;
  border-radius: 15px;
  border: 5px solid #17202a;
}

.grid-item-fixed {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-size: 1rem;
  position: relative;
  color: #ebedef;
}

.grid-item-fixed:nth-child(odd) {
  color: #ebedef;
  background-color: #85929e;
  color: black;
  font-size: 1rem;
}

#gameMessageContainer {
  display: flex;
  flex-direction: column;
}

#gameMessageA,
#gameMessageB {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #ebedef;
  font-size: 1em;
  text-align: center;
  width: fit-content;
  height: 23px;
}
#gameMessageB {
  font-size: 0.9em;
  color: #a569bd;
  background-color: #212f3d;
}

#gamePageDashboardContainer {
  width: 100%;
  background-color: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
}
#startGame:hover {
  background-color: #633974;
}
.button:hover {
  background-color: #633974;
  transition: transform 0.5s ease;
}
.button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}
.flexItemDashBoard {
  display: flex;
  background-color: transparent;
  align-items: center;
  gap: 0.2rem;
}
/* ref https://www.geeksforgeeks.org/how-to-set-the-size-of-specific-flex-item-using-css/*/

.flexItemDashBoard:nth-child(1) {
  flex-grow: 3;
  /* Set the size of the third flex item */
}
.flexItemDashBoard:nth-child(9) {
  flex-grow: 3;
  /* Set the size of the third flex item */
  justify-content: flex-end;
}

#gamePageDashName1 {
  display: flex;
  flex-direction: column;
}
#gamePageDashName2 {
  display: flex;
  flex-direction: column;
}

.playerLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

#currentPositionP1,
#currentPositionP2,
.playerLabelContainer,
#playerNameLabel1,
#playerNameLabel2,
#player1Name,
#player2Name {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ebedef;
}

#playerNameLabel1 {
  font-size: 1em;
  justify-content: space-evenly;
  background-color: transparent;
}
#playerNameLabel2 {
  font-size: 1em;
  justify-content: space-evenly;
  background-color: transparent;
}

#player1Name {
  font-size: 1.2em;
  text-align: left;
  width: 10rem;
}
#player2Name {
  font-size: 1.2em;
  text-align: right;
  width: 10rem;
}

#diceRolledContainer {
  position: absolute;
  top: 21rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 15em;
  font-weight: bold;
  color: white;
}
#diceButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: goldenrod;
}

#rollDice {
  background: url("assets-game/dice.png") no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}

#rollDice:hover {
  /* background: radial-gradient(circle, #8045a0 0%, #8045a0 50%, #fff 100%); */
  background: url("assets-game/dice.png") no-repeat center center;
  background-size: cover;
  transform: scale(0.9);
  border: none;
  cursor: pointer;
  box-shadow: none;
  z-index: 1;
  background-color: transparent;
}

#rollDice:active {
  /* background: radial-gradient(circle, #8045a0 0%, #8045a0 50%, #fff 100%); */
  background: url("assets-game/dice-active.png") no-repeat center center;
  background-size: cover;
  transform: scale(0.875);
  border: none;
  cursor: pointer;
  box-shadow: none;
  z-index: 2;
  background-color: transparent;
}

#rollDice:disabled {
  background: url("assets-game/dice-disabled.png") no-repeat center center;
  background-size: cover;
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
  transform: scale(1);
  pointer-events: none;
}

#resetGame:hover {
  transform: scale(0.9);
}

#resetGame:active {
  transform: scale(0.8);
}

#diceRolled {
  font-size: 0.8rem;
  height: 1.5rem;
}

.playerIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#p1Icon {
  background: url("assets-game/p1-flag.png") no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: scale(1);
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
}

#p2Icon {
  background: url("assets-game/p2-flag.png") no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: scale(1);
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
}

#diceResultP1round1,
#diceResultP1round2,
#diceResultP2round1,
#diceResultP2round2 {
  /* align-items: flex-start; */
  width: 40px;
  height: 35px;
  background-size: cover;
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  color: #db4536;
  padding: 1rem;
  background-color: #212f3d;
}

#diceResultP2round1,
#diceResultP2round2 {
  color: #387fc2;
}

#currentPositionContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#currentPositionP1 {
  display: flex;
  color: #eaecee;
  width: 60px;
  height: 60px;
  font-size: 3em;
  font-weight: bold;
  color: #db4536;
  /* background-color: #212f3d; */
  padding-right: 1rem;
  justify-content: flex-end;
  z-index: 1000;
}

#currentPositionP2 {
  display: flex;
  color: #eaecee;
  width: 60px;
  height: 60px;
  font-size: 3em;
  font-weight: bold;
  color: #387fc2;
  /* background-color: #212f3d; */
  justify-content: flex-start;
  padding-left: 1rem;
}

#triangleLeft {
  /* padding-right: 0.5rem; */
  padding-left: 0.5rem;
  /* padding-right: 0.5rem; */
  transition: opacity 5s ease-in;
}
#triangleRight {
  /* padding-left: 0.5rem; */
  padding-right: rem;
  transition: opacity 5s ease-in;
}
/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
/* https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-out;
  opacity: 1;
}

.fadeOut {
  animation: fadeOut 2s ease-out;
  opacity: 0;
}
/*
positioning for each grid item.
grid-column = 1/2 means starts at column 1 ends before column 2
grid-row = 8/9 means start at row 8 ends before row 9
https://www.w3schools.com/css/css_grid.asp
*/
#grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
  border-radius: 0 0 0 10px;
  background-color: #7d3c98;
  color: white;
  font-weight: bold;
  background: url("assets-game/start.png") no-repeat center center;
  background-size: 35px 35px;
  background-color: #7d3c98;
  color: transparent;
}
#grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
}
#grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
}
#grid-item-4 {
  grid-column: 4 / 5;
  grid-row: 9 / 10;
}
#grid-item-5 {
  grid-column: 5 / 6;
  grid-row: 9 / 10;
}
#grid-item-6 {
  grid-column: 6 / 7;
  grid-row: 9 / 10;
}
#grid-item-7 {
  grid-column: 7 / 8;
  grid-row: 9 / 10;
}
#grid-item-8 {
  grid-column: 8 / 9;
  grid-row: 9 / 10;
}
#grid-item-9 {
  grid-column: 9 / 10;
  grid-row: 9 / 10;
  border-radius: 0 0 10px 0;
}
#grid-item-10 {
  grid-column: 9 / 10;
  grid-row: 8 / 9;
}
#grid-item-11 {
  grid-column: 8 / 9;
  grid-row: 8 / 9;
}
#grid-item-12 {
  grid-column: 7 / 8;
  grid-row: 8 / 9;
}
#grid-item-13 {
  grid-column: 6 / 7;
  grid-row: 8 / 9;
}
#grid-item-14 {
  grid-column: 5 / 6;
  grid-row: 8 / 9;
}
#grid-item-15 {
  grid-column: 4 / 5;
  grid-row: 8 / 9;
}
#grid-item-16 {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
}
#grid-item-17 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}
#grid-item-18 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}
#grid-item-19 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
#grid-item-20 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}
#grid-item-21 {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}
#grid-item-22 {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
}
#grid-item-23 {
  grid-column: 5 / 6;
  grid-row: 7 / 8;
}
#grid-item-24 {
  grid-column: 6 / 7;
  grid-row: 7 / 8;
}
#grid-item-25 {
  grid-column: 7 / 8;
  grid-row: 7 / 8;
}
#grid-item-26 {
  grid-column: 8 / 9;
  grid-row: 7 / 8;
}
#grid-item-27 {
  grid-column: 9 / 10;
  grid-row: 7 / 8;
}
#grid-item-28 {
  grid-column: 9 / 10;
  grid-row: 6 / 7;
}
#grid-item-29 {
  grid-column: 8 / 9;
  grid-row: 6 / 7;
}
#grid-item-30 {
  grid-column: 7 / 8;
  grid-row: 6 / 7;
}
#grid-item-31 {
  grid-column: 6 / 7;
  grid-row: 6 / 7;
}
#grid-item-32 {
  grid-column: 5 / 6;
  grid-row: 6 / 7;
}
#grid-item-33 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}
#grid-item-34 {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}
#grid-item-35 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
#grid-item-36 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
#grid-item-37 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
#grid-item-38 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
#grid-item-39 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}
#grid-item-40 {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}
#grid-item-41 {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
}
#grid-item-42 {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
}
#grid-item-43 {
  grid-column: 7 / 8;
  grid-row: 5 / 6;
}
#grid-item-44 {
  grid-column: 8 / 9;
  grid-row: 5 / 6;
}
#grid-item-45 {
  grid-column: 9 / 10;
  grid-row: 5 / 6;
}
#grid-item-46 {
  grid-column: 9 / 10;
  grid-row: 4 / 5;
}
#grid-item-47 {
  grid-column: 8 / 9;
  grid-row: 4 / 5;
}
#grid-item-48 {
  grid-column: 7 / 8;
  grid-row: 4 / 5;
}
#grid-item-49 {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
}
#grid-item-50 {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}
#grid-item-51 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
#grid-item-52 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
#grid-item-53 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
#grid-item-54 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
#grid-item-55 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#grid-item-56 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
#grid-item-57 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
#grid-item-58 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
#grid-item-59 {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}
#grid-item-60 {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}
#grid-item-61 {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
}
#grid-item-62 {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
}
#grid-item-63 {
  grid-column: 9 / 10;
  grid-row: 3 / 4;
}
#grid-item-64 {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}
#grid-item-65 {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}
#grid-item-66 {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
#grid-item-67 {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
#grid-item-68 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
#grid-item-69 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
#grid-item-70 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#grid-item-71 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#grid-item-72 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#grid-item-73 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 10px 0 0 0;
}
#grid-item-74 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#grid-item-75 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#grid-item-76 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
#grid-item-77 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
#grid-item-78 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}
#grid-item-79 {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}
#grid-item-80 {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}
#grid-item-81 {
  grid-column: 9 / 10;
  grid-row: 1 / 2;
  background: url("assets-game/finish.png") no-repeat center center;
  background-size: 35px 35px;
  background-color: #7d3c98;
  color: transparent;
  border-radius: 0 10px 0 0;
}

.markerPlayer1 {
  position: absolute;
  width: 37px;
  height: 37px;
  z-index: 10;

  background: url("assets-game/p1-flag.png") no-repeat center center;
  background-size: cover;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.markerPlayer2 {
  position: absolute;
  width: 40px;
  height: 34px;
  z-index: 10;

  background: url("assets-game/p2-flag.png") no-repeat center center;
  background-size: cover;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.markerPlayer1Win {
  position: absolute;
  width: 37px;
  height: 37px;
  z-index: 10;

  background: url("assets-game/p1-flag.png") no-repeat center center;
  background-size: cover;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.markerPlayer2Win {
  position: absolute;
  width: 40px;
  height: 34px;
  z-index: 10;

  background: url("assets-game/p2-flag.png") no-repeat center center;
  background-size: cover;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.markerFadeIn {
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.markerFadeIn.show {
  opacity: 1;
}
